@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Work+Sans:400);

/* Shared colors */

$font-color: rgb(30, 30, 30);
$font-color-weak: rgb(80, 80, 80);

/* Element defaults */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Sections */

body {
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
}

header {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;

    a {
      font-weight: normal;
      color: inherit;

      &:visited {
        color: inherit;
      }
    }
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      padding: 15px 0 0 0;
    }

    a, a:visited {
      color: $font-color-weak;
    }

    a:hover {
      color: rgb(0, 0, 0);
    }
  }
}

section {
  margin-bottom: 40px;

  a:visited {
    color: rgb(0, 0, 238);
  }
}

footer {
  color: $font-color-weak;
  padding-top: 40px;
  border-top: 1px solid rgb(225, 225, 225);
  text-align: center;

  p {
    margin: 0;
  }
}

/* Large screens */

@media(min-width: 1024px) {
  body {
    margin: 40px auto;
    max-width: 760px;
  }

  nav ul li {
    display: inline-block;
    padding: 0 15px 0 15px;
  }
}
