@media (max-width: 575px) {
  article.home {
    .hello {
      float: none;
      margin: 0;
      width: 100%;
      max-width: none;
    }
  }

  article.projects {
    section {
      .right {
        float: none;
        display: block;
        width: 100%;
        max-width: none;
        margin: 0 0 30px 0;
      }
    }
  }

  article.profile {
    .keywords {
      grid-template-columns: 1fr;
      row-gap: 40px;
      margin-top: 40px;
    }
  }
}
