@media (max-width: 991px) {
  header {
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding: 3rem 1.5rem;

    .links {
      gap: 3rem;
      max-width: auto;

      .link {
        flex-basis: 135px;
        font-size: 1.5rem;

        i {
          font-size: 4rem;
        }

        .sourcehut {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }

  article.quote {
    grid-template-columns: 1fr;
    gap: 8rem;
    min-height: auto;
    padding: 3rem 1.5rem;

    .cell {
      max-width: none;
      justify-self: stretch;

      &.left {
        margin: 0 2rem;
      }

      blockquote {
        font-size: 2rem;

        &::before {
          top: -40px;
          left: -45px;
          font-size: 120px;
        }
      }

      .author {
        margin-top: 2rem;
      }
    }
  }

  footer {
    padding: 3rem 0;
  }
}

@media (max-width: 575px) {
  footer {
    .content {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
}
