@media (max-width: 575px) {
  article.home {
    .hello {
      float: none;
      margin: 0;
      width: 100%;
      max-width: none;
    }
  }

  article.projects {
    .right {
      float: none;
      display: block;
      width: 100%;
      max-width: none;
      margin: 0 0 30px 0;
    }
  }
}
