article.home {
  .hello {
    float: right;
  }
}

article.projects {
  section {
    clear: both;

    .right {
      float: right;
      max-width: 350px;
      margin: 0 0 60px 20px;

      img {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
      }
    }

    .subheader {
      font-style: italic;
    }
  }
}

article.profile {
  .cv {
    display: block;
    padding: 10px 0;
    border: 2px dotted rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .keywords {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;

    margin-top: 30px;

    dl {
      dt {
        font-weight: bold;
      }

      dd {
        margin-left: 30px;
      }
    }
  }
}
