@use "design";

header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  .links {
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    justify-self: right;

    a {
      color: design.$font-color;
    }
  }
}

article {
  margin-top: 40px;

  .hello {
    float: right;
    margin: 0 0 40px 40px;
    width: 40%;
  }
}

footer {
  margin-top: 40px;
  padding-top: 40px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    code {
      overflow-wrap: anywhere;
    }

    .qr {
      margin-top: 20px;
    }
  }
}
