@use "design_dark";

@media (prefers-color-scheme: dark) {
  header {
    .links {
      a {
        color: design_dark.$font-color;
      }
    }
  }

  footer {
    margin-top: 0;
    padding-top: 0;
  }
}
