//
// Base element definitions
//

html {
  scroll-behavior: smooth;
}

body {
  font-family: "EB Garamond", Garamond, Georgia, serif;
  font-size: 1.5rem;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

img {
  height: auto;
}

hr {
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0;
  border-top: 1px solid black;
}

//
// Structure
//

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 80rem;
}

//
// Themes
//

.theme-light {
  background-color: #fffff8;
  color: #1b1b1b;
  a,
  a:visited {
    color: #bf3211;
  }
  hr {
    border-top-color: #bf3211;
  }
}

.theme-light-accent {
  background-color: #f0efd1;
  color: #1b1b1b;
  a,
  a:visited {
    color: #bf3211;
  }
  hr {
    border-top-color: #bf3211;
  }
}

.theme-dark {
  background-color: #21180d;
  color: #f9f8cc;
  a,
  a:visited {
    color: #cfba58;
  }
  hr {
    border-top-color: #cfba58;
  }
}
