//
// Fonts
//

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/assets/fonts/eb-garamond-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/assets/fonts/eb-garamond-latin-bold.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/assets/fonts/eb-garamond-latin-italic.woff2") format("woff2");
}

//
// Base element definitions
//

html {
  scroll-behavior: smooth;
}

body {
  font-family: "EB Garamond", Garamond, Georgia, serif;
  font-size: 24px;
}

p {
  margin-top: 40px;
}

ul {
  margin-top: 30px;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

img {
  height: auto;
}

//
// Structure
//

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 80rem;
}

//
// Themes
//

.theme {
  &.white-on-black {
    background-color: black;
    color: white;
    a,
    a:visited {
      color: #cfba58;
    }
  }

  &.black-on-white {
    background-color: white;
    color: #1b1b1b;
    a,
    a:visited {
      color: #bf3211;
    }
  }

  &.brown-light {
    background-color: #f0efd1;
    color: #1b1b1b;
    a,
    a:visited {
      color: #bf3211;
    }
  }

  &.brown-dark {
    background-color: #21180d;
    color: #f9f8cc;
    a,
    a:visited {
      color: #cfba58;
    }
  }
}
