$font-color: #f9f8cc;
$link-color: #cfba58;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #21180d;
    color: $font-color;
  }

  h1 {
    color: #cfba58;
  }

  a,
  a:visited {
    color: $link-color;
  }

  hr {
    border-top-color: rgba(255, 255, 255, 0.65);
  }

  .dark-only {
    display: block;
  }
}
