//
// Color palette
//

$font-color: #1b1b1b;
$link-color: #bf3211;

//
// Base element definitions
//

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 60px;
  background-color: #f0efd1;
  color: $font-color;
  font-family: "EB Garamond", serif;
  font-size: 24px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 56px;
  color: $font-color;
}

h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  margin-top: 60px;
}

p {
  margin-top: 30px;
}

ul {
  margin-top: 30px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    opacity: 0.4;
  }

  &:visited {
    color: $link-color;
  }
}

img {
  height: auto;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  height: 0;
  margin: 40px auto;
}

//
// Structure
//

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 80rem;
}
