@media (max-width: 991px) {
  nav.large-screens {
    display: none;
  }

  nav.small-screens {
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #1b1b1b;
    background-color: white;
    font-size: 14px;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      color: #1b1b1b;
    }
  }

  footer {
    // Add the height of the small-screen navigation bar, approx. 73px
    padding-bottom: 40px + 73px;
  }
}

@media (max-width: 575px) {
  footer {
    .content {
      grid-template-columns: 1fr;
    }
  }
}
