@use "design_dark";

@media (prefers-color-scheme: dark) {
  header {
    h1 {
      a,
      a:visited {
        color: design_dark.$font-color;
      }
    }

    nav {
      ul {
        a,
        a:visited {
          color: design_dark.$font-color;
        }
      }
    }
  }

  footer {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #cfba58;
  }
}
