$font-color: rgb(30, 30, 30);

body {
  color: $font-color;
  font-family: "Taviraj", serif;
  font-size: 22px;
  overflow-wrap: break-word;
}

a {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: $font-color;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:visited {
    color: $font-color;
  }
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 42px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  height: 0;
  margin: 40px 0;

}

$screen-width: 1024px;
$margin: 40px;

@media(min-width: $screen-width) {
  body {
    margin: $margin;
    max-width: $screen-width - (2 * $margin);
  }

  footer {
    display: flex;
  }
}
