<!doctype html>
<html lang="en">
  <head>
    <title>Ali Kaafarani</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hey there, I'm Ali, a software engineer from Copenhagen and co-founder of Unseen Bio.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&amp;family=EB+Garamond&amp;display=block">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&amp;family=EB+Garamond&amp;display=block">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">

    <link rel="icon" href="assets/favicon.png" type="image/png">
    <script src="assets/js/analytics.js" async></script>
    <script src="assets/js/console.js" async></script>
  </head>

  <body>
    <header class="container">
      <h1>Ali Kaafarani</h1>
      <div class="links">
        <a title="E-mail" href="mailto:ali@kvikshaug.no"><i class="fas fa-at"></i></a>
        <a title="StackOverflow" href="https://stackoverflow.com/story/kvikshaug"><i class="fab fa-stack-overflow"></i></a>
        <a title="GitLab" href="https://gitlab.com/kvikshaug"><i class="fab fa-gitlab"></i></a>
        <a title="GitHub" href="https://github.com/kvikshaug"><i class="fab fa-github"></i></a>
        <a title="Twitter" href="https://twitter.com/kvikshaug"><i class="fab fa-twitter"></i></a>
        <a title="LinkedIn" href="https://www.linkedin.com/in/ali-kaafarani-8723b319/"><i class="fab fa-linkedin"></i></a>
        <a title="Vimeo" href="https://vimeo.com/kvikshaug"><i class="fab fa-vimeo"></i></a>
        <a title="Steam" href="https://steamcommunity.com/id/kvikshaug"><i class="fab fa-steam"></i></a>
        <a title="Oku library" href="https://oku.club/user/kvikshaug"><i class="fas fa-book"></i></a>
        <a title="ORCID record" href="https://orcid.org/0000-0002-2805-310X"><i class="fab fa-orcid"></i></a>
        <a title="Keybase" href="https://keybase.io/kvikshaug"><i class="fab fa-keybase"></i></a>
        <a title="PGP key" href="assets/0030199E.asc"><i class="fas fa-key"></i></a>
        <a title="Bitcoin address" href="https://www.blockchain.com/btc/address/3AXRXhryGHZ2hgdc1hTSMd9ewdVKruS9NB"><i class="fab fa-bitcoin"></i></a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <hr class="dark-only">

    <footer>
      <div class="container">
        <div>
          <p>To get in touch, drop me a line at <a href="mailto:ali@kvikshaug.no">ali@kvikshaug.no</a>, or send me a secure message with <a href="keybase://chat/kvikshaug">keybase</a>.</p>
          <p>You can find me on IRC with nickname <em title="Today I mostly go by the nickname kvikshaug, but on IRC I'm still known by my earlier nickname murr4y.">murr4y</em> on networks like <a href="http://www.efnet.org/">efnet</a>, <a href="https://libera.chat/">libera</a> and <a href="http://www.slashnet.org/">slashnet</a>.</p>
          <p>To send me an encrypted message or verify something I signed, use my public PGP key <a href="assets/0030199E.asc">0030199E</a>.</p>
        </div>
        <div>
          <p>Buy me a beer with bitcoins: <code>3AXRXhryGHZ2hgdc1hTSMd9ewdVKruS9NB</code></p>
          <img class="qr" src="assets/images/bitcoin-qr.png" width="200" height="200" alt="3AXRXhryGHZ2hgdc1hTSMd9ewdVKruS9NB" title="Buy me a beer with bitcoins: 3AXRXhryGHZ2hgdc1hTSMd9ewdVKruS9NB">
        </div>
      </div>
    </footer>
  </body>
</html>
