<!doctype html>
<html lang="en">
  <head>
    <title>Ali Kaafarani</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hey there, I'm Ali, a software engineer from Copenhagen and co-founder of Unseen Bio.">

    <link rel="preload" href="/assets/fonts/eb-garamond-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/eb-garamond-latin-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/eb-garamond-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <script src="/assets/script/bundle.js" defer></script>
  </head>

  <body>
    <header class="theme-light">
      <div class="image">
        <img src="/assets/images/hello.webp" title="Hi there, I'm Ali!" alt="A picture of me, modified with Google DeepDream. The picture is dominated by teal, purple and blue colors and has psychedelic undertones. However, it has a smooth appearance and does not seem to produce any immediate pareidolia effect." class="hello" width="407" height="610">
      </div>
      <div class="links">
        <a class="link" title="Steam" href="https://steamcommunity.com/id/kvikshaug">
          <i class="fab fa-2x fa-steam"></i> Steam
        </a>
        <a class="link" title="Discord" href="https://discordapp.com/users/180274566378029056">
          <i class="fab fa-2x fa-discord"></i> Discord
        </a>
        <a class="link" title="Vimeo" href="https://vimeo.com/kvikshaug">
          <i class="fab fa-2x fa-vimeo"></i> Vimeo
        </a>
        <a class="link" title="Oku" href="https://oku.club/user/kvikshaug">
          <i class="fas fa-2x fa-book"></i> Oku
        </a>
        <a class="link" title="Ravelry" href="https://www.ravelry.com/people/kvikshaug">
          <i class="fab fa-2x fa-ravelry"></i> Ravelry
        </a>
        <a class="link" title="StackOverflow" href="https://stackoverflow.com/users/302484/kvikshaug">
          <i class="fab fa-2x fa-stack-overflow"></i> StackOverflow
        </a>
        <a class="link" title="sourcehut" href="https://git.sr.ht/~kvikshaug">
          <svg class="sourcehut" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path></svg>
          sourcehut
        </a>
        <a class="link" title="GitLab" href="https://gitlab.com/kvikshaug">
          <i class="fab fa-2x fa-gitlab"></i> GitLab
        </a>
        <a class="link" title="GitHub" href="https://github.com/kvikshaug">
          <i class="fab fa-2x fa-github"></i> GitHub
        </a>
      </div>
    </header>

    <article class="quote theme-light-accent">
      <div class="cell left">
        <blockquote>You must not be afraid of playing wrong notes. Just forget it, play it wrong! But play!</blockquote>
        <div class="author">—Alan Watts</div>
      </div>
      <div class="cell right paragraphs">
        <p title="I don't write a blog, or otherwise publish new content regularly. And so, you're unlikely to gain much from visiting my site regularly. Therefore, before you leave, I'd like to share the single most important thing I've learned.">I'd like to share one idea with you.</p>
        <hr>
        <p><strong>Your mind dictates the quality of every moment of your experience.</strong></p>
        <p>And yet, many go through life ignorant of what determines the character of their minds. You are not a <em>thinker</em> of your thoughts or an <em>experiencer</em> of your experience; the <em>self</em> you identify with is an illusion.</p>
        <p>The mind is all you have, and analogous to muscles, it can (and should) be trained. Through the practice of meditation you can discover the unintuitive facts about how it works.</p>
        <p>By realizing that I was lost in thought, I have learned to be <em>present</em>. To <em>play</em>.</p>
        <hr>
        <p>If this idea interests you, I recommend reading <a href="https://www.samharris.org/books/waking-up">Waking Up</a> by Sam Harris and trying its related <a href="https://www.wakingup.com/">meditation app</a>.</p>
      </div>
    </article>

    <footer class="theme-dark">
      <div class="container content">
        <div class="paragraphs">
          <p>To get in touch, drop me a line at <a href="mailto:ali@kvikshaug.no">ali@kvikshaug.no</a>.</p>
          <p>You can also find me on IRC with nickname <em title="Today I mostly go by the nickname kvikshaug, but on IRC I'm still known by my earlier nickname murr4y.">murr4y</em> on networks like <a href="http://www.efnet.org/">efnet</a>, <a href="https://libera.chat/">libera</a> and <a href="http://www.slashnet.org/">slashnet</a>.</p>
        </div>
        <div class="paragraphs">
          <p>To send me an encrypted message or verify something I signed, use my public PGP key <a href="/assets/0030199E.asc"><code>3624 317D 5BD2 01F8 E93D 9BD1 916A 7833 0030 199E</code></a>.</p>
          <p>Owe me a beer? Send bitcoins to: <code>3AXRXhryGHZ2hgdc1hTSMd9ewdVKruS9NB</code></p>
        </div>
      </div>

      <div class="container">
        <hr>
        <p>This site's source code is <a href="https://gitlab.com/kvikshaug/kvikshaug.no">available on gitlab</a> and has seen <a href="https://web.archive.org/web/2021*/kvikshaug.no">many interesting iterations</a> through its time.</p>
      </div>
    </footer>
  </body>
</html>
