{% extends "layout.html" %}

{% block content %}
  <article class="container profile">
    <a class="cv" href="/assets/CV%20-%20Ali%20Kaafarani.pdf"><i class="fas fa-file-pdf"></i> Download CV</a>

    <section>
      <p>I am an experienced software developer and IT operations engineer with a pragmatic approach and preference for stability over experimentation. My motivation comes mainly from building something of value and use to others. Although I can still appreciate the intrinsic beauty in a well designed algorithm, elegant data structure or clever expression of computational logic, I see software systems as a means to an end; any perfectly engineered application does not matter if nobody uses it.</p>

      <p>Having often worked in small teams with a large responsibility surface, I have out of necessity learned how to design low-maintenance systems. Instead of specializing in a narrow area, I learned how to be effective and productive across the stack. As a result, my standards for the development experience are very high: Short feedback cycles, stable, mature and battle-hardened software tools, well documented workflows and automation of mundane tasks. An application must be comprehensible and its behaviour transparent; to this end, automated testing, error reporting, logging, and metrics reporting are invaluable tools.</p>

      <p>A crucial fact in software development: Code is much, much harder to read than it is to write. Therefore, documentation, readability and maintainability are extremely important to me. Not only for the code we write, but also for the libraries we depend on. I prefer to utilize established, mature tools that work and do not surprise the user, rather than experimenting with the latest fad of the week. This approach allows developers to get the job done and keep focus on higher levels of abstraction.</p>

      <p>I am an avid Linux user who lives in the terminal. I invest a lot of time to learn the ins and outs of the tools I use regularly. For example, I use a <a href="https://en.wikipedia.org/wiki/Tiling_window_manager">tiling window manager</a> and have learned most common operations in muscle memory, as well as the majority of the keybindings in my text editor. I find these skills essential in order to <a href="https://www.joelonsoftware.com/2007/06/05/smart-and-gets-things-done/">get things done</a> effectively and leave mental capacity for higher level ideas.</p>

      <p>I am patient and humble, and a reliable team player. I have a strong sense of fairness and value good reasoning over arguments from authority. Being an introvert and analytical by nature, I perform best on problems that are given due time for focus, deep work and reflection. An effective workplace needs to balance the need of close collaboration versus focused work, and I will not thrive in an environment which focuses solely on either extreme of that scale.</p>
    </section>

    <h2>Core skills</h2>

    <section>
      <p>My core technological skills revolve around Python and web programming. Here's a summary of the tools and technologies I'm skilled in and use regularly:</p>
      <div class="keywords">
        <dl>
          <dt>Desktop environment:</dt>
          <dd><a href="https://archlinux.org">Arch Linux</a>, <a href="https://swaywm.org">Sway</a>, <a href="https://alacritty.org">Alacritty</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="https://code.visualstudio.com">VS Code</a>, <a href="https://www.sublimetext.com">Sublime Text</a>, <a href="https://www.vim.org">vim</a>, <a href="https://obsidian.md">Obsidian</a>. (See also my <a href="https://github.com/kvikshaug/dotfiles">public dotfiles</a>)</dd>
        </dl>
        <dl>
          <dt>Web development:</dt>
          <dd><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP">HTTP</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, <a href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/">JavaScript</a>, <a href="https://vuejs.org">Vue</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a href="https://sass-lang.com/documentation/syntax">Sass</a>, <a href="https://nginx.org">nginx</a>, <a href="https://gunicorn.org">gunicorn</a>, <a href="https://www.haproxy.org">HAProxy</a>.</dd>
        </dl>
        <dl>
          <dt>Programming:</dt>
          <dd><a href="https://www.python.org">Python</a>, <a href="https://openjdk.java.net">Java</a>, <a href="https://scala-lang.org">Scala</a>, <a href="https://flask.palletsprojects.com">Flask</a>, <a href="https://www.djangoproject.com">Django</a>, <a href="https://www.postgresql.org">PostgreSQL</a>, <a href="https://www.sqlalchemy.org">SQLAlchemy</a>, <a href="https://www.rabbitmq.com">RabbitMQ</a>, <a href="https://bitcoin.org/bitcoin.pdf">cryptocurrency/blockchain</a>.</dd>
        </dl>
        <dl>
          <dt>DevOps and SRE:</dt>
          <dd><a href="https://git-scm.com">Git</a>, <a href="https://www.docker.com">Docker</a>, <a href="https://kubernetes.io">Kubernetes</a>, <a href="https://travis-ci.org/">Travis CI</a>, <a href="https://letsencrypt.org">Let's Encrypt</a>, <a href="https://prometheus.io">Prometheus</a>/<a href="https://grafana.com">Grafana</a>, <a href="https://sentry.io">Sentry</a>, <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a>, <a href="https://cloud.google.com">Google Cloud</a>, <a href="https://aws.amazon.com">AWS</a>.</dd>
        </dl>
        <dl>
          <dt>Collaboration</dt>
          <dd><a href="https://trello.com">Trello</a>, <a href="https://slack.com">Slack</a>, <a href="https://www.figma.com">Figma</a>, <a href="https://weblate.org">Weblate</a>, <a href="https://nextcloud.com">Nextcloud</a>.</dd>
        </dl>
        <dl>
          <dt>Tech I wish to learn:</dt>
          <dd><a href="https://www.rust-lang.org">Rust</a>, <a href="https://go.dev">Go</a>, <a href="https://julialang.org">Julia</a>.</dd>
        </dl>
      </div>
    </section>

  </article>
{% endblock %}
