{% extends "layout.html" %}

{% block content %}
  <article class="container projects">
    <section id="unseen-bio">
      <h2>Unseen Bio</h2>
      <p class="subheader">
        <a class="right" href="https://unseenbio.com"><img src="/assets/images/unseen-bio.webp" alt="The Digital Gut, a visualization of a gut microbiome"></a>
        February 2020 to present<br>
        Copenhagen, Denmark<br>
        Role: Chief Information Officer
      </p>
      <p>Unseen Bio is a fast-growing biotechnology startup which specializes in analyzing the gut microbiome, providing unique personalized insight into the health and composition of your gut.</p>
      <p>We are 5 co-founders with a broad set of competences who came together to execute on a novel approach to gut microbiome analysis. By applying the technology from the <a href="#dd-decaf">DD-DeCaF project</a> to the promising and rapidly advancing field of the gut microbiome, we found that we were in a position to generate a vastly improved and much more personalized picture of the microbiome, than what has been possible before.</p>
      <p>To this aim, we built a unique interactive visualization of the microbiome and how it compares to a healthy reference gut. We then apply metabolic software to build a complete network model of each individual microbiome and the interactions between the different bacteria in that community. With this model, we can make useful predictions of how dietary changes will affect the microbiome positively or negatively.</p>
      <p>The service is fully translated to Danish, German and English, and is available in Europe. Read more on <a href="https://unseenbio.com">unseenbio.com</a>.</p>
    </section>

    <section>
      <h2>Memote</h2>
      <p class="subheader">
        <a class="right" href="https://memote.io"><img src="/assets/images/memote.webp" alt="An example memote report for the E. Coli core model"></a>
        Novo Nordisk Foundation Center for Biosustainability<br>
        May 2018 to February 2020<br>
        DTU, Lyngby Campus, Denmark<br>
        Role: Software Engineer
      </p>
      <p><a href="https://memote.readthedocs.io/en/latest/">Memote</a> (the <strong>me</strong>tabolic <strong>mo</strong>del <strong>te</strong>st suite) is a tool to analyze and score the quality of genome-scale metabolic models. It assists the process of model reconstruction by helping to quickly identify potential issues or best practice deviations from the community standard.</p>
      <p>In close collaboration with the authors of Memote, I built an <a href="https://memote.io">online service</a> to help promote the tool and make it accessible to anyone with a browser. The service uses the <a href="https://github.com/opencobra/memote">official package</a> and allows visitors to upload any metabolic model to be analyzed in our preconfigured online environment, and eventually receive a full report without having to install the application locally.</p>
      <p>In the same period, I also made a <a href="https://github.com/opencobra/cobrapy/commits?author=kvikshaug">handful of contributions</a> to <a href="https://github.com/opencobra/cobrapy">COBRApy</a>, memote's underlying tool for constraint-based modeling.</p>
      <p>Memote was <a href="https://www.nature.com/articles/s41587-020-0446-y">published in Nature Biotechnology</a> in 2020.</p>
    </section>

    <section id="dd-decaf">
      <h2>Data-Driven Design of Cell Factories and Communities</h2>
      <p class="subheader">
        <a class="right" href="https://caffeine.dd-decaf.eu"><img src="/assets/images/caffeine.webp" alt="The interactive map in Caffeine, showing parts of a pathway map with flux results for a metabolic model"></a>
        Novo Nordisk Foundation Center for Biosustainability<br>
        December 2017 to February 2020<br>
        DTU, Lyngby Campus, Denmark<br>
        Role: Software Engineer
      </p>
      <p><a href="https://www.biosustain.dtu.dk/">DTU Biosustain</a> is an interdisciplinary research centre which develops new knowledge and technology to support the production of bio-chemicals using microbial production hosts called cell factories.</p>
      <p>I was a senior developer and technical operations lead on <a href="https://caffeine.dd-decaf.eu">Caffeine</a>, a unique web platform which brings computer-aided design into the realm of metabolic engineering.</p>
      <p><a href="https://dd-decaf.eu">The project</a> was funded through the <a href="https://ec.europa.eu/programmes/horizon2020/en">EU Horizon 2020 programme</a>, and I joined halfway into its 4 year duration. In the final phase of the project, we were invited to participate in the <a href="https://bii.dk/news/business-acceleration-academy-is-now-open-for-applications/">Business Acceleration Academy program</a> of the BioInnovation Institute in Copenhagen, with the aim to develop a business plan and validate the future commercial potential of the product beyond its EU funding phase. This resulted in <a href="https://youtu.be/v0OykuR2JbA?t=4127">Metabolyzer</a>, which has since joined forces with <a href="#unseen-bio">Unseen Bio</a>.</p>
      <p>As part of a 5 person team (a product owner, two bioinformaticians and two software engineers), I quickly received responsibility for large aspects of the project, including major architectural and technical decisions, collaboration and coordination with third party library communities, and fostering a culture of collecting data and metrics in order to make fact-based decisions.</p>
    </section>

    <section>
      <h2>dnt.no</h2>
      <p class="subheader">
        <a class="right" href="https://ut.no"><img src="/assets/images/ut.no.webp" alt="A digital map"></a>
        Den Norske Turistforening (The Norwegian Trekking Association)<br>
        October 2011 to June 2017<br>
        Oslo, Norway<br>
        Role: Systems Developer
      </p>
      <p><a href="https://www.dnt.no">Den Norske Turistforening (DNT)</a> is Norway's largest outdoor activity organisation with more than 300 000 members, which promotes trekking and mountain hiking, while preserving the Norwegian environment, nature and cultural values.</p>
      <p>I was technical lead for the core web platform, Sherpa, which serves several functions:</p>
      <ul>
        <li>The central web site (www.dnt.no), serving well over a million unique users yearly</li>
        <li>Web sites for all 57 member associations, as well as cabin and campaign sites, amounting in more than 150 published sites</li>
        <li>Integrated content management and administration tools</li>
        <li>Membership services and integration with membership systems</li>
        <li>Data management for DNTs core data (cabins, trails and guided tours)</li>
      </ul>
      <p>Being hired explicitly to start the Sherpa project, I was involved in every part from the initial planning and development, to maintenance, operations and user support, in addition to general maintenance on older systems which the new platform eventually would replace. My responsibilities, varying somewhat over the course of the project, include:</p>
      <ul>
        <li>Initial technology stack and architectural decisions</li>
        <li>Development, configuration and deployment</li>
        <li>Ensuring monitoring, error reporting, logging and system insights</li>
        <li>Analyzing, prioritizing and handling automated error reports and user reported issues</li>
        <li>Planning migration and data transition from older systems</li>
        <li>User testing and quality assurance</li>
        <li>Writing technical documentation, user guides and news bulletins</li>
        <li>Technical support for users within the organization</li>
      </ul>
    </section>
  </article>
{% endblock %}
